*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  color: #333;
}

body {
  background-color: rgb(255, 255, 255);
}

.hero-img {
  width: 300px;
}

.section-hero-main{
  width: 1400px;
  margin: 0px auto;display: flex;

  gap: 50px;
}

.section-hero {
  height: 500px;
  background-image: linear-gradient(  to right bottom, #f3f0ff, #e5dbff );
  background-size: cover;

  margin: 0px auto;

  
}

.section-hero__text-content {
  width: 50%;
}
.section-hero__images {
  width:  50%;
}

.heading-pr {
  font-size: 45px;
  margin: 80px auto;
  display: block;
}

.section-cta__reasons-list {
  list-style: none;
margin-bottom: 30px;
}

.section-hero__reasons{
padding-left: 30px;
}

.section-cta__reason{
  font-size: 20px;
  margin-bottom: 15px;
}

.btn{
  display: inline-block;
  font-size: 18px;
  color: inherit;
  padding: 13px 13px;
  background-color: #e5dbff;
  border-radius: 999px;

  transition: all .4s;
}

.btn:hover{
transform: scale(1.1);
color: #555;
}