$color-primary: #520c30;
$color-primary-dark: #520c30;
$color-primary-light: #632445;
$color-primary-lightest: #a98698;

$color-grey-dark: #343a40;
$color-grey-light: #868e96;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #444;
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", serif;
  font-weight: 300;
  line-height: 1.6;
}

.btn {
  display: block;
  text-decoration: none;
  color: $color-grey-dark;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-bottom: 1rem;

  text-transform: uppercase;
  color: $color-grey-dark;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

input {
  display: block;
  margin-bottom: 0.5rem;
}

span {
  display: block;
  font-size: 1.6rem;
}

a{
  text-decoration: none;
  color: $color-grey-dark;
  cursor: pointer;
}