.heading-primary {
  font-size: 4.4rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6;
  color: $color-grey-dark;
}

.heading-tertiary {
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.6;
}
