.margin-bottom-big{
    margin-bottom: 8rem;
}

.margin-bottom-medium{
    margin-bottom: 4rem !important;
}

.margin-bottom-small{
    margin-bottom: 1.5rem;
}

.margin-top-big{
    margin-bottom: 8rem;
}

.margin-top-huge{
    margin-bottom: 10rem;
}